@charset "UTF-8";

/*共通部分
----------------------------------------------*/
html{
    /* 文字サイズの正確な反映
    →正しく反映されないことがあるってこと？ */
    font-size: 100%;
}
body{
    /* ここでフォントを指定することでbody内のすべてのフォントを指定できる */
    /* font-family: ; */
    /* line-height: ; */
    /* 文字の色が変わるよ */
    /* color: aqua; */
}
a{
    /* aタグの下線をなくす */
    text-decoration: none;
}
img{
    /* 画像が親要素の大きさを超えなくなる */
    max-width: 100%;
}

/* 固有部分
---------------------------------------------- */
