@charset "UTF-8";

@use "../../foundation/variable";

.c-heading{
    width: 60%;

    padding-bottom: 10px;

    border-bottom: 1px solid variable.$color-text-sub;

    font-size: 3rem;
    font-family: variable.$font-header;
}