@charset "UTF-8";

@use "../../foundation/variable";

.c-heading{
    width: 60%;

    padding-bottom: variable.$layout-space-s;

    border-bottom: variable.$border-size-md solid variable.$color-text-sub;

    font-size: variable.$font-size-section-title;
    font-family: variable.$font-header;
}