@charset "UTF-8";

@use "../../foundation/variable";

.p-about{
    &__frame{
        background-color: variable.$color-bg-base;
        &--top{
            border-top: 1px solid variable.$color-text-main;
        }

        &--bottom{
            border-bottom: 1px solid variable.$color-text-main;
        }

        &--left{
            border-left: 1px solid variable.$color-text-main;
        }

        &--right{
            border-right: 1px solid variable.$color-text-main;
        }
    }
}