@charset "UTF-8";

@use "../../foundation/variable";

.p-links{
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 1.5rem; /* リンク間の余白 */
        list-style: none;
        padding: 0;
        margin-top: 1.5rem;
    }

    &__item{
        margin: 0;
    }

    &__url{
        display: inline-block;
        padding: 0.75rem 1.5rem;
        border: 1px solid var(--color-sub-text);
        color: var(--color-main-text);
        text-decoration: none;
        font-weight: bold;
        transition: all 0.2s ease;
    }
}