@charset "UTF-8";

@use "../../foundation/variable";

.p-profile{
    display: flex;
    flex-direction: column;
    align-content: center;

    &__table{
        width: 95%;
        border-collapse: collapse;
        margin-top: 1rem;
    }

    &__title{
        text-align: left;
        font-weight: bold;
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
        color: variable.$color-text-main;
    }

    &__head,
    &__label,
    &__data{
        border-bottom: 1px solid variable.$color-text-sub;
        text-align: left;
        vertical-align: top;
    }

    &__head{
        border-bottom: 2px solid variable.$color-text-main;
        padding-bottom: 0.75rem;
        &:first-child {
            width: 150px;
            padding-right: 2rem;
        }
    }

    &__label {
        width: 120px;
        font-weight: bold;
        color: variable.$color-text-sub;
        
        &:first-child {
            width: 150px;
            padding-right: 2rem;
        }
    }
}