@charset "UTF-8";

@use "../../foundation/variable";

.p-profile{
    &__title{
        text-align: left;
        font-weight: bold;
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
        color: variable.$color-text-main;
    }

    &__table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
    }

    &__th,
    &__td{
        padding: 1.25rem 0.5rem;
        border-bottom: 1px solid variable.$color-text-sub;
        text-align: left;
        vertical-align: top;

        &--tb-row{
            width: 120px;
            font-weight: bold;
            color: variable.$color-text-sub;
        }
        
        &--th-th{
            border-bottom: 2px solid variable.$color-text-main;
            padding-bottom: 0.75rem;
        }

        &--first:first-child{
            width: 150px;
            padding-right: 2rem; 
        }
    }
}